<div id="toasts" data-controller="toasts", data-action="toast@window->toasts#displayToast">
  <template id="toast-template" data-toasts-target="template">
    <div class="toast toast-top toast-center mt-8">
      <div class="alert alert-info">
        <span class="toast-content"></span>
      </div>
    </div>
  </template>
</div>
