<turbo-stream action="prepend" target="title-list">
  <template>
    <%= render partial: "title", formats: [:html], locals: { title: @title } %>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="inline-title-form">
  <template>
    <%= render partial: "inline_new_form", formats: [:html], locals: { title: Title.new } %>
  </template>
</turbo-stream>

<turbo-stream action="update" target="flash-messages">
  <template>
    <div class="alert alert-success">
      Title created successfully.
    </div>
  </template>
</turbo-stream>