<turbo-stream action="prepend" target="title-list">
  <template>
    <%= render partial: "title", formats: [:html], locals: { title: @title } %>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="inline-title-form">
  <template>
    <p><%= @titles.count %></p>
    <%= render partial: "inline_new_form", formats: [:html], locals: { title: Title.new } %>
  </template>
</turbo-stream>

