<turbo-stream action="remove" target="<%= dom_id(@title) %>"></turbo-stream>
<turbo-stream action="update" target="flash-messages">
  <template>
    <div class="toast toast-top toast-center mt-8" data-controller="transition">
      <div class="alert alert-info">
        <span>Deleted</span>
      </div>
    </div>
  </template>
</turbo-stream>