<turbo-stream action="remove" target="<%= dom_id(@title) %>"></turbo-stream>
<turbo-stream action="update" target="flash-messages">
  <template>
    <div data-controller="transition"
         data-transition-class-value="fade-out"
         data-transition-duration-value="250"
         data-transition-delay-value="2000"
         class="alert alert-success">
      Title deleted successfully.
    </div>
  </template>
</turbo-stream>